%h1 Feeds

- @feeds.each do |feed|
  #feed
    = feed.title
    = feed.url
    = feed.category_id
    = link_to 'Show', feed
    = link_to 'Edit', edit_feed_path(feed)
    = link_to 'Destroy', feed, :method => :delete, :data => { :confirm => 'Are you sure?' }

%br

= link_to 'New Feed', new_feed_path
