%p#notice= notice

%p
  %b Title:
  = @feed.title
%p
  %b Url:
  = @feed.url
%p
  %b Summary:
  = @feed.description

%p
  %b Summary:
  - @articles.each do |a|
    = a.title 
    %br
    = a.url
    %br


= link_to 'Edit', edit_feed_path(@feed)
\|
= link_to 'Back', feeds_path
