%p#notice= notice

.category_header
  =image_tag @category.title.downcase + "_header.jpg", class: "cat_head"
  %h1
    EAT. 
    %span{class: "me"}
      = @category.title

#category_container.container
  %h2
    = @category.description


  - @category.feeds.each do |c|
    .feeds_container
      = c.title


= link_to 'Edit', edit_category_path(@category)
\|
= link_to 'Back', categories_path


