%p#notice= notice

.category_header
  =image_tag @category.title.downcase + "_header.jpg", class: "cat_head"
  %h1
    FEED. 
    %span{class: "me"}
      = @category.title

#category_container
  %h2
    / = @category.description


  - @category.feeds.each do |c|
    .feeds_container
      %h1
        = link_to c.title, c
      %span.fa-stack.fa-lg.subscription-feed{"data-id" => c.id}
        %i.fa.fa-square-o.fa-stack-2x
        %i.fa.fa-check.fa-stack-1x.not-checked
      Subscibed?



= link_to 'Edit', edit_category_path(@category)
\|
= link_to 'Back', categories_path


